<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MewMent</title>
    <link rel="stylesheet" href="/css/option.css">
    <script src="/js/option.js"></script>
</head>

<body>
    <div class="container">
        <a href="/">
            <div class="header">
                <img id="header-image" src="/images/header-home.jpg" alt="header">
            </div>
        </a>
        <div class="user-info-container">
            <div class="avatar-container">
                <img id="avatar" src="" alt="">
            </div>
            <div id="username"></div>
        </div>

        <div class="line-area">
            <div class="line">
                <span id="line-title" class="area-title"></span>
            </div>
        </div>

        {{{body}}}

        <a id="back-link" href="{{des}}">
            <div id="back-btn">Back</div>
        </a>
    </div>
</body>

</html>