<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oops...</title>
    <style>
        h1 {
            text-align: center;
            font-size: calc(5vw);
        }

        p {
            text-align: center;
            font-size: calc(3vw);
        }
    </style>
</head>

<body>
    <h1>404 Not Found</h1>
    <p>There's nothing here (including cats, of course)</p>
    <p>You need to find your way home</p>
</body>

</html>