<div id="editor-container">
    <img id="header" src="/images/header-login.jpg" alt="">
    <input type="text" id="title-editor" class="editor" placeholder="Enter your title..." maxlength="26">
    <div id="upload-area">
        <div id="image-area">
            <div id="first-row" class="image-row">
                <div class="image-container" data-container-id="1"></div>
                <div class="image-container" data-container-id="2"></div>
                <div class="image-container" data-container-id="3"></div>
                <div class="image-container" data-container-id="4"></div>
                <div class="image-container" data-container-id="5"></div>
            </div>
            <div id="second-row" class="image-row">
                <div class="image-container" data-container-id="6"></div>
                <div class="image-container" data-container-id="7"></div>
                <div class="image-container" data-container-id="8"></div>
                <div class="image-container" data-container-id="9"></div>
            </div>
        </div>
        <div id="image-function">
            <label id="select-btn" for="selected-image">Select</label><br>
            <input type="file" name="imageFile" id="selected-image" accept=".png,.jpg,.jpeg,.bmp,.gif">
            <!--            <div id="fileInfo" class="disappear"></div>-->
            <!--            <button type="button" id="upload">Save</button>-->
        </div>
    </div>
    <div id="content-editor" class="editor" placeholder="Enter your content..."></div>
    <div id="button-container">
        <button type="submit" id="submit">Submit</button>
        <a href="/">
            <button type="button" id="Back">Back</button>
        </a>
    </div>
</div>