<div class="function">
    <a class="bottom-button" id="edit-link" href="/articles/my-articles/{{articleId}}/edit">
        <div id="edit-btn">Edit</div>
    </a>

    <a class="bottom-button" id="back-link" href="/profile/my-articles">
        <div id="back-btn">Back</div>
    </a>
</div>