<div id="sidebar-wrapper">
    <div class="sidebar-left" id="area3">
        <div class="left-sidebar-item" id="avatar">
            <img src="/images/avatars/avatar-anonymous.jpg" alt="avatar">
            <span class="sidebar-span">Hello, visitor!</span>
        </div>

        <a href="/account/login" class="left-sidebar-item" id="my-articles">
            <img src="/images/login.jpg" alt="my articles">
            <span class="sidebar-span">Log In</span>
        </a>

        <a href="/account/register" class="left-sidebar-item" id="my-likes">
            <img src="/images/register.jpg" alt="my likes">
            <span class="sidebar-span">Sign Up</span>
        </a>
    </div>
</div>