<div id="sidebar-wrapper">
    <div class="sidebar-left" id="area3">
        <a class="left-sidebar-item" href="/profile" id="user-info">
            <img id="avatar" src="" alt="avatar">
            <span class="sidebar-span">{{username}}</span>
        </a>

        <a class="left-sidebar-item" href="/articles/post" id="post">
            <img src="/images/Post.jpg" alt="post">
            <span class="sidebar-span">Post</span>
        </a>

        <a class="left-sidebar-item" href="/profile/my-articles?from=A" id="my-articles">
            <img src="/images/MyArticles.jpg" alt="my articles">
            <span class="sidebar-span">My Articles</span>
        </a>

        <a class="left-sidebar-item" href="/profile/my-likes?from=A" id="my-likes">
            <img src="/images/MyLikes.jpg" alt="my likes">
            <span class="sidebar-span">My Likes</span>
        </a>

        <a class="left-sidebar-item" href="/account/logout" onclick="return confirm('Wanna log out?')" id="post">
            <img src="/images/logout.jpg" alt="logout">
            <span class="sidebar-span">Log Out</span>
        </a>
    </div>
</div>